.container-main{
    width: 100%;
    height: 100vh;
    background: #00d2ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #928DAB, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,#ffc107, #0d6efd, ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #0d6efd;
    display: flex;
    flex-direction: column;
}


.form{
    width: 50%;

    min-width: 320px;
    height: 85vh;
    min-height: 450px;
   background: #fff;
   text-align: center;
   display: flex;
   flex-direction: column;
margin: 0 auto;
border-radius: 20px;
padding: 20px;
box-shadow: 2px 2px 6px 5px rgba(0,0,0,0.5);
}
textarea{
    resize: none;
}
.form-group{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
label{
   display: flex;
   margin-top: 20px;
   font-weight: 600;
}
button{
    font-weight: 600;
    font-size: 18px;
    
}
input[type="text"],textarea,input[type="email"]{
  
    width: 100%;
    border-color: #0d6efd;
}

@media screen and (max-width:400px){
   

    .form{
        max-width: 300px;
    }
}

@media screen and (max-width:720px) {
    .form{
        width: 100%;
    }

    


}