<h5 class="text-center">ADMINISTRAR ESTUDIANTES</h5>
<div class="table-responsive">
  <nz-table #nzTable [nzData]="listOfDisplayData" [nzPageSize]="4" nzTableLayout="fixed">
    <thead>
      <tr>
        <th nzCustomFilter>
          Nombres
          <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu" >
            <span nz-icon nzType="search">Buscar </span>
          </nz-filter-trigger>
        </th>
        <th>Facultad</th>
        <th>Correo</th>
        <th>Telefono</th>
        <th>Modificar</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of nzTable.data">
        <td>{{ data.nombres}}</td>
        <td>{{ data.facultad }}</td>
        <td>{{data.correo}}</td>
        <td>{{ data.celular }}</td>
       
        <td><button type="button" class="btn btnc btn-primary btnfunciones" data-bs-toggle="modal" (click)="modificar(data.id_usuario)" data-bs-target="#staticBackdrop">
            Modificar
          </button></td>
       
        
      </tr>
    </tbody>
  </nz-table>

  <nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Buscar" [(ngModel)]="searchValue" />
        <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button"> Buscar </button>
        <button nz-button nzSize="small" (click)="reset()"> Reset </button>
      </div>
    </div>
  </nz-dropdown-menu>

  <!-- Modal -->
  <div class="modal fade modal-lg" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel"><b>Modificar datos del usuario</b></h1>
        </div>
        <div class="modal-body">
          <form class="row" [formGroup]="estudianteForm" (ngSubmit)="onSubmit()">
            <div class="col-md-4">
              <div class="mb-3">
                <label for="nombres" class="form-label"><b>Nombres</b></label>
                <input formControlName="nombres" type="text" class="form-control" id="nombres" autocomplete="off" required>
              </div>

              <div class="mb-3">
                <label for="numerodocumento" class="form-label"><b>Numero de documento</b></label>
                <input type="number" formControlName="numero_documento" class="form-control" id="numerodocumento" autocomplete="off" required>
              </div>

              <div class="mb-3">
                <label for="telefono" class="form-label"><b>Numero de telefono</b></label>
                <input type="number" formControlName="celular" class="form-control" id="telefono" autocomplete="off" required>
              </div>

            </div>

            <div class="col-md-4">
              <div class="mb-3">
                <label for="apellidos" class="form-label"><b>Apellidos</b></label>
                <input type="text" class="form-control" formControlName="apellidos" class="form-control" id="apellidos" autocomplete="off" required>
              </div>

              <div class="mb-3">
                <label for="facultad" class="form-label"><b>Facultad</b></label>
                <select name="" class="form-control" formControlName="facultad" id="">
                  <option [value]="facultad.facultad" *ngFor="let facultad of facultades">{{facultad.facultad}}</option>
                 </select>
              </div>

              <div class="mb-3">
                <label for="correo" class="form-label"><b>Correo</b></label>
                <input type="email" class="form-control" formControlName="correo" class="form-control" id="correo" autocomplete="off" required>
              </div>

            </div>

            <div class="col-md-4">
              <div class="mb-3">
                <label for="tipodocumento" class="form-label"><b>Tipo de documento</b></label>
                <select name="" class="form-control" formControlName="tipo_documento" id="">
                  <option [value]="tipo.tipo_documento" *ngFor="let tipo of tipos">{{tipo.tipo_documento}}</option>
                 </select>
              </div>

              <div class="mb-3">
                <label for="programa" class="form-label"><b>Programa</b></label>
               <select name="" class="form-control" formControlName="programa" id="">
                <option [value]="programa.programa"  *ngFor="let programa of programas">{{programa.programa}}</option>
               </select>
              </div>

              <div class="mb-3">
                <label for="programa" class="form-label"><b>Estado</b></label>
                <select name="" class="form-control" formControlName="estado" id="">
                  <option [value]="estado.estado" *ngFor="let estado of estados">{{estado.estado}}</option>
                </select>
              </div>
              <input type="hidden" formControlName="id_usuario">

            </div>
            <div class="modal-footer">
              <button type="button" class="linea btn bmodal btn-danger btn-sm" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="linea btn bmodal btn-success btn-sm">Guardar</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

</div>