


input,select{
    border-color: #0d6efd;
    
}

.bmodal{
    padding: 10px 40px 10px 40px;
}

.btnfunciones{
    background-color: #0d6efd;
    border: #0d6efd;
    color: white;
}

.btnagendar{
    background-color: #198754;
    border: #198754;
}

.btndenegar{
    background-color: #dc3545;
    border: #dc3545;
    color: #fff;
}
