.btnc{
    padding: 3px 10px 3px 10px;
    border-radius: 20px;
    background-color: #0d6efd;
}

.bcambiar{
    padding: 10px 40px 10px 40px;
    border-radius: 20px;
    background-color: #0d6efd;
    
}
input,select{
    border-color: #0d6efd;
    
}

.bmodal{
    padding: 10px 90px 10px 90px;
    border-radius: 20px;
}