.btnc{
    padding: 5px 20px 5px 20px;
}


.bmodal{
    padding: 10px 20px 10px 20px;
    color: white;
}

input,select{
    border-color: #0019fa;
    
}

.linea
{
    display: inline-block;
}

.btnfunciones{
    background-color: #0d6efd;
    border: #0d6efd;
    
}

.btnagendar{
    background-color: #198754;
    border: #198754;
}

.btndenegar{
    background-color: #dc3545;
    border: #dc3545;
    color: #fff;
}


#capacidad{
    resize: vertical;
}