<div class="container">
  <h3 class="text-center">TUTORIAS ACÁDEMICAS PENDIENTES</h3>

  <app-modal-crear-tutoria></app-modal-crear-tutoria>

  <table class="table">
    <thead>
      <tr>
        <!-- <th scope="col">Facultad</th>
        <th scope="col">Programa</th>
        <th scope="col">Materia</th>
        <th scope="col">Tema</th>
        <th scope="col">Sede</th>
        <th scope="col">Salón</th>
        <th scope="col">Capacidad</th>
        <th scope="col">Cupos</th>
        <th scope="col">Docente</th>
        <th scope="col">Fecha</th>
        <th scope="col">Hora inicio</th>
        <th scope="col">Hora terminación</th>
        <th scope="col">Estado</th> -->
        <th scope="col">cupos</th>
        <th scope="col">facultad</th>
        <th scope="col">fecha</th>
        <th scope="col">fecha_generacion_tutoria</th>

        <th scope="col">horaInicio</th>
        <th scope="col">horaFin</th>

        <th scope="col">programa</th>
        <th scope="col">materia</th>

        <th scope="col">salon</th>
        <th scope="col">sede</th>

        <th scope="col">tema</th>
        <th scope="col">estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let h of horario; let index">
        <td>{{ h.cupos }}</td>
        <td>{{h.facultad}}</td>
        <td>{{h.fecha}}</td>
        <td>{{h.fecha_generacion_tutoria}}</td>
        <td>{{h.horaInicio}}</td>
        <td>{{h.horaFin}}</td>
        <td>{{h.programa}}</td>
        <td>{{h.materia}}</td>
        <td>{{h.salon}}</td>
        <td>{{h.sede}}</td>
      <td>{{h.tema}}</td>
      <td>{{h.id_estado_tutoria}}</td>

      </tr>
    </tbody>
  </table>
</div>
