
<div class="table-responsive">
  <nz-table #nzTable [nzData]="listOfDisplayData||estudiante" nzTableLayout="fixed">
    <thead>
      <tr>
        <th nzCustomFilter>
          Name
          <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
            <span nz-icon nzType="search"></span>
          </nz-filter-trigger>
        </th>
        <th>Facultad</th>
        <th>Telefono</th>
        <th>Numero de cedula</th>
        <th>Correo</th>
        <th>Estado</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of nzTable.data">
        <td>{{ data.nombre}}</td>
        <td>{{ data.facultad }}</td>
        <td>{{ data.telefono }}</td>
        <td>{{data.numeroCedula}}</td>
        <td>{{data.correo}}</td>
        <td ><button nz-button nzType="primary" (click)="deshabilitar()">Deshabilitar</button></td>
      </tr>
    </tbody>
  </nz-table>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
        <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
        <button nz-button nzSize="small" (click)="reset()">Reset</button>
      </div>
    </div>
  </nz-dropdown-menu>




</div>