<h5 class="text-center">ADMINISTRAR TABLA DE TIPO DE REGISTRO DE ACTIVIDAD</h5>
<div class="container-button d-flex justify-content-end m-1">
    <!-- Button trigger modal -->
    <button type="button" class="btn btnc btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Agregar
    </button>
</div>
<div class="table-responsive">
    <nz-table #nzTable [nzData]="tipo" [nzPageSize]="4" nzTableLayout="fixed">
        <thead>
            <tr>
                <th >
                    Id tipo actividad
                    
                </th>
                <th nzCustomFilter>Tipo de actividad
                    <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0"
                        [nzDropdownMenu]="menu">
                        <span nz-icon nzType="search">Buscar </span>
                    </nz-filter-trigger>
                </th>
                <th>Modificar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let f of nzTable.data">
                <td>{{ f.id}}</td>
                <td>{{ f.tipoRegistro}}</td>
                <td><button type="button" class="btn btnc btn-primary" data-bs-toggle="modal"
                        data-bs-target="#modalmodificar"
                        (click)="modificar(f.id)">
                        Modificar 
                    </button></td>
            </tr>
        </tbody>
    </nz-table>

    <nz-dropdown-menu #menu="nzDropdownMenu">
        <div class="ant-table-filter-dropdown">
            <div class="search-box">
                <input type="text" nz-input placeholder="Buscar" [(ngModel)]="searchValue" />
                <button nz-button nzSize="small" nzType="primary" (click)="search()"
                    class="search-button">Buscar</button>
                <button nz-button nzSize="small" (click)="reset()">Reset</button>
            </div>
        </div>
    </nz-dropdown-menu>

    <!-- Modal crear tutoria -->
    <div class="modal fade modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel"><b>Agregar tipo de registro actividad</b></h1>
                </div>
                <div class="modal-body">
                    <form class="row d-flex justify-content-center" (ngSubmit)="agregar()" [formGroup]="facultadAgregar">
                        <div class="col-md-6 ">
                            <div class="mb-6">
                                <label for="tipoact" class="form-label"><b>Tipo de Actividad</b> </label>
                                <input type="text" class="form-control" id="tipoact" aria-describedby="tipoact" autocomplete="off" formControlName="tipoRegistro">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="linea btn bmodal btn-danger btn-sm"
                                data-bs-dismiss="modal">Salir</button>
                            <button type="submit" class="linea btn bmodal btn-success btn-sm">Agregar</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- modal modificar datos-->
    <div class="modal fade modal" id="modalmodificar" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel"><b>Modificar datos de la tabla de facultades</b></h1>
                </div>
                <div class="modal-body">
                    <form class="row d-flex justify-content-center" [formGroup]="facultadForm" (ngSubmit)="onSubmit()">
                        <div class="col-md-5">
                            <div class="mb-4">
                                <label for="id_facultad" class="form-label"><b>Id tipoActividad</b> </label>
                                <input type="number" class="form-control" id="facultad" aria-describedby="facultad" autocomplete="off" formControlName="id" readonly >
                            </div>
                            <div class="mb-4">
                                <label for="facultad" class="form-label"><b>Tipo Actividad</b> </label>
                                <input type="text" class="form-control" id="facultad" formControlName="tipoRegistro" aria-describedby="tipoRegistro" autocomplete="off">
                            </div>
                        </div>


                        <div class="modal-footer">
                            <button type="button" class="linea btn bmodal btn-danger btn-sm"
                                data-bs-dismiss="modal">Salir</button>
                            <button type="submit" class="linea btn bmodal btn-success btn-sm">Modificar</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

</div>
