<div class="hero" id="hero">
    <div class="container-hero">
       <!-- <h1 class="text-white">Bienvenido a tutobarranquilla</h1> -->
<h1 class="text-color text-center">¡Aprende y Enseña con Nuestra Plataforma de agendamiento de  Tutorías en Línea!</h1>

<p class="description text-center">Conviértete en un mejor estudiante o docente. Regístrate hoy mismo.</p>

       <div class="container-button">
       <a routerLink="/auth/registro" class="btn btn-primary" target="_blank" 
       rel="noopener noreferrer">Registrate</a>
    </div>
</div>
