<!-- <h3 class="text-center">AGENDAMIENTO DE TUTORIAS ACÁDEMICAS</h3> -->
<nz-table   #headerTable [nzData]="horarios" [nzPageSize]="6"  >




 <div class="d-flex justify-content-between  gap-4  flex-wrap">
    <nz-card  
    class="col-md-4"
    style="
      width: 280px;
      box-shadow: 0.5px 2px 3px rgba(0, 0, 0, 0.5);
    " 
    *ngFor="let horario of headerTable.data"
    [nzBordered]="true"
    nzTitle="{{horario.tema}}"
   
  >
    <p>Docente: {{ horario.nombres }} {{ horario.apellidos }}</p>
    <p>Materia: {{ horario.materia }}</p>
    <!-- <p>Salon: {{ horario.salon }}</p> -->
    <p>Cupos: {{ horario.cupos }}</p>

    <div class="container-actions d-flex justify-content-around gap-4">
      <button nz-button style="border-radius: 15px" nzType="primary" (click)="agendarTutoria(horario.id_tutoria,horario.id_estado_tutoria)">
        Agendar
      </button>
      <button
        nz-button
        style="border-radius: 15px"
        data-bs-toggle="modal"
        type="button"
        data-bs-target="#modaldescripcion"
        nzType="primary"
       (click)="descripcion(horario.id_tutoria)"
      >
        Descripcion
      </button>
    </div>
    </nz-card>
</div>










    <div class="modal fade modal-lg" id="modaldescripcion" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel"><b>Datos de la tutoria acádemica</b>
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row">
                    <div class="table-responsive" >
                        <nz-table #nzTable [nzData]="datosModal" nzTableLayout="fixed">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Descripción</th>
                                </tr>
                            </thead>
                            <tbody>
                               
                                  <tr>
                                    <td><b>Facultad</b></td>
                                    <td>{{ datosModal.facultad }}</td>
                                  </tr>
                                  <tr>
                                    <td><b>Materia</b></td>
                                    <td>{{ datosModal.materia }}</td>
                                  </tr>
                                  <tr>
                                    <td><b>programa</b></td>
                                    <td>{{ datosModal.programa }}</td>
                                  </tr>
                                  <tr>
                                    <td><b>Sede</b></td>
                                    <td>{{ datosModal.sede }}</td>
                                  </tr>
                                  <tr>
                                    <td><b>Salon</b></td>
                                    <td>{{ datosModal.salon }}</td>
                                  </tr>
                                  <tr>
                                    <td><b>Capacidad</b></td>
                                    <td>{{ datosModal.capacidad }}</td>
                                  </tr>
                                  <tr>
                                    <td><b>Cupos</b></td>
                                    <td>{{ datosModal.cupos }}</td>
                                  </tr>
                                  <tr>
                                    <td><b>Tema</b></td>
                                    <td>{{ datosModal.tema }}</td>
                                  </tr>
                                  <tr>
                                    <td><b>Fecha</b></td>
                                    <td>{{ datosModal.fecha }}</td>
                                  </tr>
                                  <tr>
                                    <td><b>Hora de inicio</b></td>
                                    <td>{{ datosModal.horaInicio }}</td>
                                  </tr>
                                  <tr>
                                    <td><b>Hora de finalizacion</b></td>
                                    <td>{{ datosModal.horaFin }}</td>
                                  </tr>
                            </tbody>
                        </nz-table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="linea btn bmodal btn-danger btn-sm"
                            data-bs-dismiss="modal">Salir</button>
                        <button type="button" class="linea btn bmodal btn-primary btn-sm">Cambiar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
