
    <nz-card style="width:280px; margin-bottom: 10px;; box-shadow: .5px 2px 3px rgba(0,0,0,.5);"  [nzBordered]="true" nzTitle="{{horario.tema}}" [nzExtra]="extraTemplate">
      <p>Docente: {{horario.nombres}} {{horario.apellidos}}</p>
      <p>Materia: {{horario.materia}}</p>
      <p>Salon: {{horario.salon}}</p>
       <div class="container-actions d-flex justify-space-between gap-4">
      <button nz-button style="border-radius: 15px;"  nzType="primary" >Agendar</button>
      <button nz-button style="border-radius: 15px; " nzType="primary" (click)="descripcion(horario.id_tutoria)">Descripcion</button>
    </div>
    </nz-card>

  <ng-template #extraTemplate>
    <!-- <a>More</a> -->
  </ng-template>