
<h2 class="text-center"> Panel de administracion</h2>
<div class="container d-flex justify-content-center mb-4">
    <div class="row">

        <div class="col-md-3">

            <div class="container-success " >
                <span nz-icon nzType="form" nzTheme="outline"></span>
                <h3>2356</h3>
                <p>Usuarios Registrados el dia de hoy</p>
            </div>
        </div>
        <div class="col-md-3"> 
            <span nz-icon nzType="carry-out" nzTheme="outline"></span>
            <h3>4000</h3>
            <p>Listado de tutorias</p>
        
        </div>
        <div class="col-md-3">   
            
            <span nz-icon nzType="notification" nzTheme="outline"></span>
            <h3>14</h3>
            <p>Notificaciones</p>
        
        </div>
        <div class="col-md-3">           
            <span nz-icon nzType="user-add" nzTheme="outline"></span>
            <h3>100</h3>
            <p>Usuarios registrados en el dia de hoy</p>
        
        
        </div>
    </div>

</div>
<div class="container d-flex  justify-content-between ">
    
<app-charts class="mb-4"/>
<app-charts-bar/>
</div>