
<h2 class="text-center mb-4"> Panel de administracion</h2 >
<div class="container d-flex justify-content-center   mb-4">
    <div class="row d-flex gap-4 ">

        <div class="col-md-3 container-insights-yellow">

            <div class="container-icon">
                <span nz-icon nzType="form" nzTheme="outline"></span>
            </div>
                <div class="container-data">
                <h3>2356</h3>
                <p>Tutorias Creadas hoy</p>
            </div>
        </div>
        <div class="col-md-3 container-insights-green "> 
            <div class="container-icon"><span nz-icon nzType="carry-out" nzTheme="fill"></span></div>
            <div class="container-data">
            <h3>4000</h3>
            <p>Listado de tutorias</p>
        </div>
        </div>
        <div class="col-md-3 container-insights-red ">   
            <div class="container-icon"><span  nz-icon nzType="notification" nzTheme="twotone"></span></div>
            <div class="container-data">
            <h3>14</h3>
            <p>Notificaciones</p>
        </div>
        </div>
        <div class="col-md-3 container-insights-blue">  
            <div class="container-icon"><span nz-icon nzType="user-add" nzTheme="outline"></span></div>         
            <div class="container-data">

                <h3>100</h3>

                <p>Usuarios registrados hoy</p>

            </div>
            
        
        
        </div>
    </div>

</div>
<div class="container d-flex  justify-content-around ">
        
<app-charts />
<app-charts-bar/>
</div>