<h3 class="text-center">HISTORIAL DE TUTORIAS ACÁDEMICAS</h3>
<div class="table-responsive">
    <nz-table #nzTable [nzData]="listOfDisplayData||estudiante" nzTableLayout="fixed">
        <thead>
            <tr>
                <th nzCustomFilter>
                    Nombres
                    <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0"
                        [nzDropdownMenu]="menu">
                        <span nz-icon nzType="search"></span>
                    </nz-filter-trigger>
                </th>
                <th>Facultad</th>
                <th>Correo</th>
                <th>Docente</th>
                <th>Descripción</th>
                <th>Lista Estudiantes</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of nzTable.data">
                <td>{{ data.id_facultad}}</td>
                <td>{{ data.id_programa}}</td>
                <td>{{data.id_usuario}}</td>
                <td>{{data.id_usuario}}</td>
                <td><button type="button" class="btn btnc btn-primary" data-bs-toggle="modal"
                        data-bs-target="#modaldescripcion">
                        Descripción
                    </button></td>
                <td><button type="button" class="btn btnc btn-primary" data-bs-toggle="modal"
                        data-bs-target="#modallista">
                        Lista
                    </button></td>
            </tr>
        </tbody>
    </nz-table>

    <nz-dropdown-menu #menu="nzDropdownMenu">
        <div class="ant-table-filter-dropdown">
            <div class="search-box">
                <input type="text" nz-input placeholder="Buscar" [(ngModel)]="searchValue" />
                <button nz-button nzSize="small" nzType="primary" (click)="search()"
                    class="search-button">Buscar</button>
                <button nz-button nzSize="small" (click)="reset()">Reset</button>
            </div>
        </div>
    </nz-dropdown-menu>

    <!-- modal descripcion tutoria-->
    <div class="modal fade modal-lg" id="modaldescripcion" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel"><b>Datos de la tutoria acádemica</b>
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="row">
                        <div class="table-responsive">
                            <nz-table #nzTable [nzData]="listOfDisplayData||estudiante" nzTableLayout="fixed">
                                <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th>Descripción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><b>id tutoria</b></td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td><b>Facultad</b></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><b>Materia</b></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><b>Sede</b></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </nz-table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="linea btn bmodal btn-danger btn-sm"
                                data-bs-dismiss="modal">Salir</button>
                            <button type="button" class="linea btn bmodal btn-primary btn-sm">Cambiar</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- modal lista estudiantes-->
    <div class="modal fade modal-xl" id="modallista" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel"><b>Lista de estudiantes de tutoria acádemica</b>
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="row">
                        <div class="table-responsive">
                            <nz-table #nzTable [nzData]="listOfDisplayData||estudiante" nzTableLayout="fixed">
                                <thead>
                                    <tr>
                                        <th>Nombres</th>
                                        <th>Apellidos</th>
                                        <th>Tipo documento</th>
                                        <th>Documento</th>
                                        <th>Facultad</th>
                                        <th>Programa</th>
                                        <th>Correo</th>
                                        <th>Celular</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </nz-table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="linea btn bmodal btn-danger btn-sm"
                                data-bs-dismiss="modal">Salir</button>
                            <button type="button" class="linea btn bmodal btn-primary btn-sm">Cambiar</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

</div>