<table class="table">
    <thead>
      <tr>
        <th scope="col">Docente</th>
        <th scope="col">Tema a tratar</th>
        <th scope="col">fecha</th>
        <th scope="col">tiempo</th>
        <th scope="col"> Descripcion del tema
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Lourdes</th>
        <td>Poo</td>
        <td>23/06/23</td>
        <td>2horas</td>
        <td> <button class="btn btn-primary" (click)="showAlert()">Ver</button></td>
      </tr>
      
    </tbody>
  </table>