<h5 class="text-center">CAMPOS ADICIONALES DE USUARIOS</h5>

<div class="add-user d-flex justify-content-end mb-3">
    <button type="button" class="btn btn-warning d-flex justify-space-between align-items-center gap-3"
        data-bs-toggle="modal" data-bs-target="#modalagregar">Agregar Información<span style="font-size: 18px;" nz-icon
            nzType="user-add" nzTheme="outline"></span></button>
</div>

<div class="table-responsive">
    <nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed" [nzPageSize]="4">
        <thead>
            <tr>
                <th nzCustomFilter>
                    Nombres
                    <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0"
                        [nzDropdownMenu]="menu">
                        <span nz-icon nzType="search">Buscar </span>
                    </nz-filter-trigger>
                </th>
                <th>Apellidos</th>
                <th>Ver Informacion</th>
                <th>Modificar</th>
                <th>Habilitar o Deshabilitar</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of nzTable.data">
                <td>{{ data.nombres}}</td>
                <td>{{ data.facultad }}</td>
                <td>{{data.correo}}</td>
                <td>{{data.celular}}</td>
                <td><button type="button" class="btn btnc btn-primary" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop" (click)="modificar(data.id_usuario)">
                        Modificar
                    </button></td>

            </tr>
        </tbody>
    </nz-table>

    <nz-dropdown-menu #menu="nzDropdownMenu">
        <div class="ant-table-filter-dropdown">
            <div class="search-box">
                <input type="text" nz-input placeholder="Buscar" [(ngModel)]="searchValue" />
                <button nz-button nzSize="small" nzType="primary" (click)="search()"
                    class="search-button">Buscar</button>
                <button nz-button nzSize="small" (click)="reset()">Reset</button>
            </div>
        </div>
    </nz-dropdown-menu>

    <!--Modal-->
    <div class="modal fade modal-lg" id="modalagregar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel"><b>Agregar Facultad Usuario</b></h1>
                </div>
                <div class="modal-body">
                    <form class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="nombres" class="form-label"><b>Nombres</b></label>
                                <input type="text" formControlName="nombres" class="form-control" id="nombres"
                                    autocomplete="off" required>
                            </div>

                            <div class="mb-3">
                                <label for="rol" class="form-label"><b>Rol</b></label>
                                <input type="text" formControlName="rol" class="form-control" id="rol"
                                    autocomplete="off" required>
                            </div>

                        </div>

                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="apellidos" class="form-label"><b>Apellidos</b></label>
                                <input type="text" formControlName="apellidos" class="form-control" id="apellidos"
                                    autocomplete="off" required>
                            </div>

                            <div class="mb-3">
                                <label for="campoad" class="form-label"><b>Campo</b></label>
                                <select name="" class="form-control" formControlName="campoad" id="">
                                    <option [value]="facultad.facultad" *ngFor="let facultad of facultades">
                                        {{facultad.facultad}}</option>
                                </select>

                            </div>

                        </div>

                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="correo" class="form-label"><b>Correo</b></label>
                                <input type="text" formControlName="rol" class="form-control" id="correo"
                                    autocomplete="off" required>
                            </div>

                            <div class="mb-3">
                                <div class="mb-3">
                                    <label for="info" class="form-label"><b>Información</b></label>
                                    <input type="text" formControlName="rol" class="form-control" id="info"
                                        autocomplete="off" required>
                                </div>

                            </div>
                        </div>


                    </form>










                    <div class="modal-footer">
                        <button type="button" class="linea btn bmodal btn-danger btn-sm"
                            data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="linea btn bmodal btn-success btn-sm">Guardar</button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>