
<form class="row"  [formGroup]="contactForm"   (ngSubmit)="onSubmit($event)">
           

    <div class="col-md-6 col-sm-12 mt-2">
        <div class="form-group">
            <label for="nombre">Nombres</label>
            <input required class="form-control" formControlName="nombres"   type="text" name="nombre" id="nombre"  [ngClass]="{'is-invalid':submitted && contactForm.get('nombres')?.errors} " />
        </div>
        <span class="text-danger" *ngIf="submitted && contactForm.get('nombres')?.errors">no ha cumplido el
            minimo de caracteres</span>

        <div class="form-group">
            <label for="apellido">Apellidos</label>
            <input class="form-control" type="text" name="apellido" id="apellido" formControlName="apellidos"  [ngClass]="{'is-invalid':submitted && contactForm.get('apellidos')?.errors} "
                required />
        </div>
        <span class="text-danger" *ngIf="submitted && contactForm.get('apellidos')?.errors">no ha cumplido el
            minimo de caracteres</span>

        <div class="form-group">
            <label for="tipo">Tipo de documento</label>
            <select name="tipo" formControlName="tipoDocumento" id="tipo" class="form-control" [ngClass]="{'is-invalid':submitted && contactForm.get('tipo')?.errors} " >
                <option selected value="">Tarjeta de identidad</option>
                <option>Cedula de ciudadania</option>
            </select>
           
        </div>

        <div class="form-group">
            <label for="tipo">Numero de documento</label>
            <input name="numeroDocumento" formControlName="numeroDocumento" id="numeroDocumento" type="number" class="form-control" [ngClass]="{'is-invalid':submitted && contactForm.get('numeroDocumento')?.errors} " />
                
        
           
        </div>

        
        <div class="form-group">
            <label for="telefono">Numero de telefono</label>
            <input class="form-control" type="number" name="numeroTelefono" formControlName="numeroTelefono" 
            [ngClass]="{'is-invalid':submitted && contactForm.get('numeroTelefono')?.errors} " id="numeroTelefono"  
              required />
        </div>
       
    </div>
    <div class="col-md-6 col-sm-12 mt-2">

        <div class="form-group">
            <label for="facultad">Facultad</label>
            <select  formControlName="facultad" name="facultad" id="facultad" class="form-control"  >
                <option selected value="" >
                    Facultad de ingenierias
                </option>
            </select>
        </div>


        
       
       

        

        <div class="form-group">
            <label for="correo">Correo</label>
            <input class="form-control" type="email" name="correo" id="correo" formControlName="correo"  [ngClass]="{'is-invalid':submitted && contactForm.get('correo')?.errors} "
                (input)="validarCorreo()"   required />

        </div>
       
        <div class="form-group">
            <label for="contraseña">Contraseña</label>
            <input class="form-control" type="text" name="contraseña" id="contraseña" 
                formControlName="contraseña"  [ngClass]="{'is-invalid':submitted && contactForm.get('contraseña')?.errors} "  required />
        </div>
        

        <div class="form-group gap-2">
            <label for="contraseña">Confirmar Contraseña</label>
            <input class="form-control" type="text" name="contraseña" id="contraseña" #newPassword
                formControlName="nuevaContraseña"  [ngClass]="{'is-invalid':submitted && contactForm.get('nuevaContraseña')?.errors} " required />
        </div>
 

      






    </div>
   <div class="container-button " ><button class="btn btn-primary">Enviar</button></div>
</form>

