<div class="container-form">
    <form class="form">
        <div class="container-img">
            <img src="https://www.unibarranquilla.edu.co/images/logo.png" alt="logo unibarranquilla" class="img-fluid">
        </div>
        <div class="form-group">
            <div class="">
                <h4>RECUPERAR CONTRASEÑA</h4>
            </div>
            <label for="correo">Correo</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="email" required
                formControlName="email" autocomplete="off">
        </div>

        <div class="form-button">
            <button type="submit" class="btn btn-primary">Enviar</button>

        </div>
        
        <ng-template >
            La contraseña se ha enviado a su correo electronico
        </ng-template>


    </form>
</div>