<h5 class="text-center">ADMINISTRAR MATERIAS DEL USUARIO</h5>

<div class="add-user d-flex justify-content-end mb-3">
  <button type="button" class="btn btnfunciones d-flex justify-space-between align-items-center gap-3"
    data-bs-toggle="modal" data-bs-target="#modalagregar">Agregar<span style="font-size: 18px;" nz-icon
      nzType="user-add" nzTheme="outline"></span></button>
</div>

<div class="table-responsive">
  <nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed" [nzPageSize]="4">
    <thead>
      <tr>
        <th nzCustomFilter>
          Nombre Completo
          <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
            <span nz-icon nzType="search">Buscar </span>
          </nz-filter-trigger>
        </th>
        <th>Ver materias</th>
        <th>Habilitar o Deshabilitar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of nzTable.data">
        <td></td>
        <td></td>
        <td></td>
        <td>
          <button type="button" class="btnfunciones" data-bs-toggle="modal" data-bs-target="#modaldescripcion"
            (click)="modificar(data.id_usuario)">Ver
            materias</button>
        </td>
        <td>
          <button type="button" class="btnfunciones" data-bs-toggle="modal" data-bs-target="#modalestado"
            (click)="modificar(data.id_usuario)">Ver
            estado</button>
        </td>

      </tr>
    </tbody>
  </nz-table>

  <nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Buscar" [(ngModel)]="searchValue" />
        <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Buscar</button>
        <button nz-button nzSize="small" (click)="reset()">Reset</button>
      </div>
    </div>
  </nz-dropdown-menu>

  <div class="modal fade modal-lg" id="modalagregar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel"><b>Agregar materias al usuario</b></h1>
        </div>
        <div class="modal-body">
          <form class="row">
            <div class="col-md-4">
              <div class="mb-3">
                <label for="usuario" class="form-label"><b>Usuario</b></label>
                <input type="text" formControlName="usuario" class="form-control" id="usuario" autocomplete="off"
                  required>
              </div>
              <div class="mb-3">
                <label for="materia" class="form-label"><b>Materia</b></label>
                <input type="text" formControlName="materia" class="form-control" id="materia" autocomplete="off"
                  required readonly>
              </div>

            </div>

            <div class="col-md-4">
              <div class="mb-3">
                <label for="facultad" class="form-label"><b>Facultad</b></label>
                <select name="" class="form-control" formControlName="facultad" id="">
                  <option [value]="facultad.facultad" *ngFor="let facultad of facultades">{{facultad.facultad}}</option>
                </select>

              </div>

            </div>

            <div class="col-md-4">
              <div class="mb-3">
                <label for="programa" class="form-label"><b>Programa</b></label>
                <select name="" class="form-control" formControlName="programa" id="">
                  <option [value]="facultad.facultad" *ngFor="let facultad of facultades">{{facultad.facultad}}</option>
                </select>

              </div>
            </div>


          </form>
          <div class="modal-footer">
            <button type="button" class="linea btn bmodal btn-danger btn-sm" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="linea btn bmodal btn-success btn-sm">Guardar</button>
          </div>

        </div>

      </div>
    </div>
  </div>


  <!--modal de materias del usuario-->
  <div class="modal fade modal-lg" id="modaldescripcion" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel"><b>Materias del usuario</b>
          </h1>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Salir</button>
        </div>
        <div class="modal-body">
          <form class="row">
            <div class="table-responsive">
              <nz-table nzTableLayout="fixed">
                <thead>
                  <tr>
                    <th>Facultad</th>
                    <th>Programa</th>
                    <th>Materia</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </nz-table>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
  <!--Habilitar y deshabilitar modal-->
  <div class="modal fade modal-lg" id="modalestado" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel"><b>Estado Materias</b>
          </h1>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Salir</button>
        </div>
        <div class="modal-body">
          <form class="row">
            <div class="table-responsive">
              <nz-table nzTableLayout="fixed">
                <thead>
                  <tr>
                    <th>Facultad</th>
                    <th>Programa</th>
                    <th>Materia</th>
                    <th>estado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </nz-table>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>