.container-main{
    background: #f3f6fe;  /* fallback for old browsers */
    
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{

    width: 1000px;
    
    margin-top: 20px;
    height: 600px;
    background: #fff;
    border-radius: 20px;
    padding: 40px;
   
    box-shadow: 4px 5px 4px 2px rgba(0,0,0,0.50);
    margin-bottom: 20px;

    
}

.container-img{
    display: flex;
    justify-content:center;
    align-items: center;
    
}


img{
    max-width: 100%;
   

}

.form-group{
    display: flex;
    flex-direction: column;
   gap: 7px;
}

label{
    margin:7px ;
}
.container-button{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    margin-bottom: 20px;
    
    
}

.bmodal{
    padding: 10px 40px 10px 40px;
}

input,select{
    border-color: #0d6efd;
}

@media screen and (max-width:400px) {
    .container{
      margin: 0;
    height: 100%;
    }
    .container-main{
        height: 100%;
        width: 100%;
    }

}

@media screen and (max-width:767px) {
    .container{
        margin-bottom: 20px;
      height: 100%;
      }
      .container-main{
          height: 100%;
          width: 100%;
      }
}

.btnfunciones{
    background-color: #0d6efd;
    border: #0d6efd;
    color: white;
}

.btnagendar{
    background-color: #198754;
    border: #198754;
}

.btndenegar{
    background-color: #dc3545;
    border: #dc3545;
    color: #fff;
}