<footer class="footer">
<div class="container-cto">

    <hr>
    <a href="https://www.facebook.com/miguelangel.suarezplata.3"><span nz-icon nzType="facebook" nzTheme="outline"></span></a>
    
    
    <a href="https://github.com/miguel12s"><span nz-icon nzType="github"  nzTheme="outline"></span></a>
    <a href="https://www.linkedin.com/authwall?trk=bf&trkInfo=AQF0kpVgankCmwAAAYnlBV_QiagBCLHZyZJivmiD8SoCwtDDDFkd0kFeMfmNS4PTz-cBf92kniv_m0bfxRETS0CP8Y_RSoJe1QXo_29CZFCL16miNcNQJHL5PHRPjItRmKXfXiI=&original_referer=&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fin%2Fmiguel-angel-suarez-a8b77324a%2F"><span nz-icon nzType="linkedin" nzTheme="outline"></span></a>
    <a href="https://www.instagram.com/miguelsuarez25466/"><span nz-icon nzType="instagram" nzTheme="outline"></span></a>
    <hr>
</div>
    <div class="footer-description">
        
    <h5 class="text-dark">TutoBQ</h5>
    <p class="text-dark"> Copyright &#x24B8; tutoBQ,inc</p>
    <div class="container-politics">
    <p> <a class="politics" href="https://www.sic.gov.co/sites/default/files/documentos/072020/Pol%C3%ADtica%20de%20Tratamiento%20de%20Datos%20Personales%20-%20SIC.pdf" >Informacion legal</a></p>
    <p class="text-dark separator">|</p>
    <p><a  class="politics" href="https://www.sic.gov.co/sites/default/files/documentos/072020/Pol%C3%ADtica%20de%20Tratamiento%20de%20Datos%20Personales%20-%20SIC.pdf">Politica de privacidad</a></p>
</div>
    </div>
</footer>