<footer class="footer">
<div class="container-cto">

    <hr><span nz-icon nzType="facebook" nzTheme="outline"></span>
    <span nz-icon nzType="twitter" nzTheme="outline"></span>
    <span nz-icon nzType="linkedin" nzTheme="outline"></span>
    <span nz-icon nzType="instagram" nzTheme="outline"></span>
    <hr>
</div>
    <div class="footer-description">
        
    <h5 class="text-dark">TutoBQ</h5>
    <p class="text-dark"> Copyright &#x24B8; tutoBQ,inc</p>
    <div class="container-politics">
    <p> <a href="" >Informacion legal</a></p>
    <p class="text-dark separator">|</p>
    <p><a href="">Politica de privacidad</a></p>
</div>
    </div>
</footer>